body{
    margin:0px;
    background-color: rgb(120, 150, 150);
}
h1{
margin-top:2px;
text-align:center;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.nav{
background-color:hsla(0, 3%, 94%, 0.219);
width:100%;
height:90px;
box-shadow:2px 0px 19px grey;
border-radius:20px;
text-align:right;

}
a{
    text-decoration: none;
    color:black;
}
p{
    display:inline-block;
    margin-right:30px;
    margin-left:20px;
    margin-bottom:20px;
    font-size:40px;
    font-family: 'Times New Roman', Times, serif;
}
a:hover{
color:rgb(226, 0, 0);
cursor:pointer;
}
section{
    background-color: black;
    height:340px;
    width:270px;
    border:3px;
    border-color:rgb(255, 255, 255);
    margin-top:20px;
    display:inline-block;
    margin-right:20px;
    box-shadow:3px 4px 5px white;
    border-radius:20px;
    margin-left:2px;
}
img{
    border-radius:20px;
}
h2,p{
    color:white;
    margin-top:10px;
}
h2{
    text-align:center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:19px;
}
p{
    font-size:17px;
    text-align:center;
    position:relative;
    left:25px;
    bottom:20px;
}
button{
    background-color: rgb(0, 136, 255);
    position:relative;
    left:70px;
    bottom:25px;
    height:40px;
    border-radius:20px;
    border:none;
    color:black;
}
button:hover{
    background-color: rgb(255, 255, 255);
}