body{
    margin:15px;
}
h1{
margin-top:20px;
text-align:center;
font-family:arial;
}
.nav{
background-color:hsl(4, 0%,99%);
width:100%;
height:150px;
box-shadow:2px 2px 7px grey;
border-radius:20px;
}
a{
    text-decoration: none;
    color:black;
}
p{
    display:inline-block;
    justify-content: space-between;
    margin-right:20px;
    margin-left:20px;
    margin-bottom:20px;
    font-size:30px;
    word-spacing:25px;
    font-family:arial;
}
.destination-rockets{
  text-align:right;
  position:relative;
  bottom:85px;
}
p:hover{
color:yellow;
cursor:pointer;
border-color:solid red;
}


