body{
    margin:0px;
}
h1{
margin-top:20px;
text-align:center;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.nav{
background-color:hsl(4, 0%,99%);
width:100%;
height:150px;
box-shadow:0px 0px 19px grey;
border-radius:20px;
text-align:right;
}
a{
    text-decoration: none;
    color:black;
}
p{
    display:inline-block;
    margin-right:20px;
    margin-left:20px;
    margin-bottom:20px;
    font-size:30px;
    font-family: 'Times New Roman', Times, serif;
}
a:hover{
color:rgb(226, 0, 0);
cursor:pointer;
}
section{
    background-color: black;
    height:310px;
    width:270px;
    border:3px;
    border-color:rgb(255, 255, 255);
    margin-top:20px;
    display:inline-block;
    margin-right:20px;
    box-shadow:3px 4px 5px white;
    border-radius:20px;
    margin-left:2px;
}
img{
    border-radius:20px;
}
h2,p{
    color:white;
    margin-top:10px;
}
h2{
    text-align:center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p{
    font-size:17px;
    text-align:center;
    position:relative;
    left:25px;
    bottom:20px;
}
button{
    position:relative;
    left:70px;
    bottom:45px;
    height:40px;
    border-radius:20px;
}