body{
    margin:0px;
}
h1{
margin-top:20px;
text-align:center;
font-family:arial;
}
.nav{
background-color:hsl(4, 0%,99%);
width:100%;
height:150px;
box-shadow:0px 0px 19px grey;
border-radius:20px;
}
a{
    text-decoration: none;
    color:black;
}
p{
    margin-right:20px;
    margin-left:20px;
    margin-bottom:20px;
    font-size:30px;
    word-spacing:25px;
    font-family:arial;
}
.destination-rockets{
  text-align:right;
  position:relative;
  bottom:130px;

}
a:hover{
color:rgb(226, 0, 0);
cursor:pointer;
}


