body{
    margin:0;
}
h1{
text-align:center;
}
.nav{
    background-color:rgb(82, 104, 122);
    width:100%;
    height:80px;
    word-spacing:20px;
}
.first
a{
    text-decoration: none;
    color:black;
}