body{
    margin-top:40px;
}
section{
 margin:auto;
 height:500px;
 width:40%;
border:1px solid black;
background-color:hsla(15, 2%, 67%, 0.12);
text-align:center;
border-radius:25px;
}
input{
    display:block;
    margin:15px;
    height:20px;
    width:90%;
    
}
label{
    font-size:19px;
}
button{
    display:block;
    height:55px;
    border:none;
    width:120px;
    margin:auto;
    margin-top:20px;
    background-color: aquamarine;
    cursor: pointer;
    border-radius:25px;
}
button:hover{
    cursor:pointer;
    background-color: rgb(128, 84, 27);
    color:aquamarine;
}
