body{
  background-color:rgba(210, 210, 210, 0.765);
  margin-top:40px;
}
section{
    height:300px;
  width:80%;
    margin:auto;
    display:block;
    border:1px solid black;
    margin-bottom:30px;
    padding:10px;
    filter:blur(7px);
    background-color: rgba(47, 58, 54, 0.27);
    border-radius:10px;
}
section:hover{
    background-color:rgba(116, 102, 102, 0.2);
    filter:blur(0px);
    transform:1s ease;
    transform:scale(1.1);
}
